<template>
	<div>
		<page-title :title="$t('title')" :subtitle="$t('subtitle')"/>

		<div v-if="!online" class="container my-5">
			<wait-icon :msg="$t('wait-connecting')"/>
		</div>

		<div class="container" v-if="online">
			<div class="row">
				<div class="col-md-6 my-4">
					<div class="card shadow">
						<div class="card-header bg-dark text-white">{{$t('participants-link')}}</div>
						<div class="card-body text-center">
							<p>{{shortUrl}}</p>
							<p>{{$t('ticket')}}: {{ticket}}</p>
							<vue-qrcode v-if="longUrl" :value="longUrl" :scale="6"/>
						</div>
					</div>
				</div>
				<div class="col-md-6 my-4">
					<div class="card shadow">
						<div class="card-header bg-dark text-white">{{$t('privacy-info')}}</div>
						<div class="card-body">
							<p>{{$t('info-privacy-text')}}</p>
							<p>{{$t('info-usage-text')}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--show image-->
		<div ref="imageContainer" class="projector" v-show="showImage">
			<img ref="image" class="projector" :src="showImage">
			<div style="position:fixed; top:0; left:0; width:100%; text-align:right">
				<button class="btn btn-primary mr-1" v-on:click="scale=scale*1.2;transform();">+</button>
				<button class="btn btn-primary mr-1" v-on:click="scale=scale/1.2;transform();">−</button>
				<button class="btn btn-primary mr-1" v-on:click="angle=(angle+270)%360; transform();">↺</button>
				<button class="btn btn-primary mr-1" v-on:click="showImage=false">&times;</button>
			</div>
		</div>
  	</div>
</template>

<script>
import PageTitle from 'Main/components/PageTitle.vue';
import WaitIcon from 'Main/components/WaitIcon.vue';

import store from 'Main/js/store.js';
import VueQrcode from 'vue-qrcode';


export default {
	name: 'home',
	components: { PageTitle, WaitIcon, VueQrcode},
	data: function() {
		return {
			ticket:'',
			wsUrl:'',
			loading:true,
			ws:{},					//websocket
			showImage:false,
			timer:null,
			online:false,
			shortUrl:'',
			longUrl:'',
			angle:0,
			scale:1
		}
	},
	mounted: function() {
		if (!store.user.hasRole('projector')) this.$router.push({name:'projector-part'});
		else this.$axios.get('projector/room').then(response=> {
			this.ticket=response.data.ticket;
			this.wsUrl=response.data.url;
			var location=window.location.toString();
			var base=location.substring(0,location.lastIndexOf('/'));
			this.shortUrl=base+'/projector';
			this.longUrl=base+'/projector/'+this.ticket;
			this.startWS();
			this.timer=setInterval(this.checkWS, 5000);
		})
	},
	destroyed: function() {
		if (this.timer) clearInterval(this.timer);
		if (this.ws && this.ws.close) {
			this.ws.close();
			console.log('Closing WebSocket');
		}
	},
	methods: {
		//Start websocket client
		startWS: function(){
			console.log('Opening websockert: '+this.wsUrl)
			this.ws=new WebSocket(this.wsUrl);
			this.ws.onopen=(event)=> {
				this.online=true;
				this.wsActive=true;
			};
			this.ws.onmessage=(event)=> {
				this.angle=0;
				this.scale=1;
				this.transform();
				var message=JSON.parse(event.data);
		    	if (message.image) this.showImage=message.image;
			};
			this.ws.onclose=() => {
				this.online=false;
				this.wsActive=false;
			};
		},
		//Check websocket
		checkWS: function (){
		    if(!this.ws || this.ws.readyState==3) {
				this.online=false;
				this.startWS();
			}
		},
		transform: function() {
			var img=this.$refs.image;
			img.style.transform='rotate('+this.angle+'deg) scale('+this.scale+','+this.scale+')';
		}

	}
}
</script>

<style>
div.projector {width:100%; height:100%; position: absolute; top:0; left:0; vertical-align:middle; z-index: 2000; background-color: #FFFFFF;  }
img.projector {width:100%; height:100%; object-fit: contain; }
</style>





<i18n>
{
	"de": {
		"title": "Projektor",
		"subtitle": "Teilnehmer können Bilder senden, die auf einer gemeinsamen Projektionsfläche wie einem Whiteboard oder Beamer dargstellt werden.",
		"wait-connecting": "Bitte warten – die Verbindung wird hergestellt ...",
		"participants-link": "Teinehmer Link",
		"ticket": "Ticket",
		"privacy-info": "Hinweis zum Datenschutz",
		"info-privacy-text": "Die gesendeten Bilder werden nicht auf dem Server gespeichert sondern direkt an den Browser des Raum-Benutzers weitergeleitet.",
		"info-usage-text": "Sobald Sie dieses Fenster schließen - oder auch neu laden - ist der Code links nicht mehr gültig."
	},
	"en": {
		"title": "Projection Screen",
		"subtitle": "Participants can send pictures that are displayed on a common projection surface such as a whiteboard or projector.",
		"wait-connecting": "Please wait - the connection is being established ...",
		"participants-link": "Participant Link",
		"ticket": "Ticket",
		"privacy-info": "Data protection notice",
		"info-privacy-text": "The sent pictures are not saved on the server but forwarded directly to the browser of the room user.",
		"info-usage-text": "As soon as you close this window - or even reload it - the code on the left is no longer valid."
	}
}
</i18n>
