<template>
	<!-- login screen -->
	<div v-if="!login" class="container text-center">
		<img class="my-2 loginIcon" src="../img/projector.svg">
		<p class="lead my-2">{{$t('input-ticket')}}</p>
		<div class="form-signin">
			<warning-list v-if="warnings" :warnings="warnings" v-on:close="warnings=''"/>
			<input class="mt-2 form-control" :placeholder="$t('ticket')" v-model='ticket' required>
			<button class="mb-4 btn btn-primary form-control" v-on:click="start()">{{$t('next')}}</button>
			<p class="my-3">{{$t("author-hint")}}</p>
		</div>
	</div>
	<!-- room screen -->
	<div v-else	>
		<page-title :title="$t('title')" :subtitle="$t('subtitle')"/>
		<wait-icon v-if="sendState==1"/>
		<warning-list v-if="warnings" :warnings="warnings"/>

		<div class="container">
			<div class="row">
				<div class="col-md-6 my-4">
					<div class="card shadow">
						<div class="card-header bg-dark text-white">{{$t('upload-image')}}</div>
						<div class="card-body">
							<p>{{$t('upload-info',{size:Math.round(config.imageMaxSize/1024)})}}</p>
							<file-upload force="image" :maxsize="config.imageMaxSize" v-on:upload="uploadImage"/>
						</div>
					</div>
				</div>
				<div class="col-md-6 my-4">
					<div class="card shadow">
						<div class="card-header bg-dark text-white">{{$t('privacy-info')}}</div>
						<div class="card-body">
							<p>{{$t('info-privacy-text')}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- upload dialog-->
		<modal-info v-if="showModalUpload" v-on:close="showModalUpload=false">
			<template v-slot:header>{{$t('upload-file')}}</template>
			<p>{{$t('upload-info',{size:Math.round(config.imageMaxSize/1024)})}}</p>
			<image-upload :maxsize="config.imageMaxSize" v-on:upload="uploadImage"/>
		</modal-info>

		<modal-info v-if="sendState==2" v-on:close="sendState=0">
			<p>{{$t('image-sent')}}</p>
		</modal-info>

	</div>
</template>

<script>

import ModalInfo from 'Main/components/ModalInfo.vue';
import FileUpload from 'Main/components/FileUpload.vue';
import WarningList from 'Main/components/WarningList.vue';
import PageTitle from 'Main/components/PageTitle.vue';
import WaitIcon from 'Main/components/WaitIcon.vue';

import config from "../config.js";
import store from "Main/js/store.js";
import html from "Main/js/html.js";
import icon from '../img/projector.svg';

export default {
	components: {ModalInfo, WarningList, PageTitle, WaitIcon, FileUpload},
	data: function() {
		return {
			ticket:'',
			showModalUpload:false,
			config:config,
			warnings:'',
			login:false,
			sendState:0
		}
	},
	mounted: function() {
		//get ticket
		this.ticket=this.$route.params.ticket;
		if (this.ticket) this.start();
	},

	methods: {
		start: function() {
			this.login=false;
			this.$axios.get("projector/part/rooms/"+this.ticket).then(response=> {
				if (response.data[0]) return this.warnings=response.data;
				this.login=true;
				this.warnings='';
			})
		},
		//Post image upload to server
		uploadImage: function(image) {
			this.sendState=1;
			var reader=new FileReader();
			reader.readAsDataURL(image);
			reader.onload=e=> {
				var image=e.target.result;
				this.$axios.post( "projector/part/rooms/"+this.ticket,{image:image}).then(response=> {
					if (response.data[0]) {
						this.sendState=0;
						return this.warnings=response.data;
					}
					this.warnings='';
					this.sendState=2;
				});
			};
		},
	}
}
</script>







<i18n>
{
	"de": {
		"input-ticket": "Bitte geben Sie das Ticket ein und klicken Sie auf „weiter“.",
		"ticket": "Ticket",
		"next": "Weiter",
		"": "",
		"title": "Projektor",
		"subtitle": "Teilnehmer können Bilder senden, die auf einer gemeinsamen Projektionsfläche wie einem Whiteboard oder Beamer dargstellt werden.",
		"upload-image": "Bild senden",
		"privacy-info": "Hinweis zum Datenschutz",
		"info-privacy-text": "Die gesendeten Bilder werden nicht auf dem Server gespeichert sondern direkt an den Browser des Raum-Benutzers weitergeleitet.",
		"upload-file": "Datei hochladen",
		"image-sent": "Bild erfolgreich übertragen",
		"upload-info": "Wähle die Datei für den Upload aus:",
		"author-hint": "Um einen neuen Projektor zu erstellen, melden Sie sich bitte zunächst an."
	},
	"en": {
		"input-ticket": "Please enter the ticket and click continue.",
		"ticket": "Ticket",
		"next": "Next",
		"": "",
		"title": "Projection Screen",
		"subtitle": "Participants can send pictures that are displayed on a common projection surface such as a whiteboard or projector.",
		"upload-image": "send image",
		"privacy-info": "Data protection notice",
		"info-privacy-text": "The sent pictures are not saved on the server but forwarded directly to the browser of the room user.",
		"upload-file": "Upload file",
		"image-sent": "Image successfully sent",
		"upload-info": "Select the file to upload:",
		"author-hint": "Please login in order to create a new projection surface."
	}
}
</i18n>
